html {
	font-family: Roboto, Helvetica, sans-serif;
	background-color: #1f2937;
}

.App {
	display: flex;
	justify-content: center;
	align-items: center;
}

.simulator {
	display: flex;
	margin-top: 100px;
	border: 1px solid black;
	border-radius: 8px;
	background-color: #d4d4d8;
	max-height: 641px;
	overflow: hidden;
}

.sim-inputs,
.sim-display,
.sim-history {
	display: flex;
	flex-direction: column;
}

.sim-inputs-header,
.sim-display-header,
.sim-history-header,
.sim-settings-header,
.sim-info-header {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid black;
	height: 40px;
	user-select: none;
}

.sim-display-name {
	user-select: text !important;
}

.sim-inputs {
	width: 300px;
}

.sim-inputs-container {
	border-bottom: 1px solid black;
	background-color: #f5f5f5;
	height: 340px;
}

.sim-params-container {
	margin-top: 15px;
	margin-left: 7px;
	padding: 10px;
	width: 100%;
}

.sim-params-fields {
	margin-bottom: 15px;
	border: none;
	user-select: none;
}

.sim-params-fields input {
	margin-bottom: 8px;
	border: 1px solid black;
	border-radius: 2px;
	padding: 8px;
	width: 74%;
}

.sim-param-input-field {
	display: flex;
	align-items: center;
}

.sim-param-tooltip-icon {
	margin-left: 8px;
	width: 24px;
	height: 24px;
}

.sim-params-buttons button {
	user-select: none;
}

.sim-params-buttons button:disabled {
	background-color: #ccc;
	cursor: not-allowed;
}

.sim-params-reset,
.sim-params-submit {
	margin-right: 8px;
	border: none;
	border-radius: 3px;
	padding: 8px 12px;
	color: white;
	cursor: pointer;
}

.sim-params-reset {
	background-color: #525252;
}

.sim-params-submit {
	width: 112px;
	background-color: #2563eb;
}

.sim-settings-container {
	background-color: #f5f5f5;
	height: 220px;
	overflow: hidden;
}

.sim-settings-toggles {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 12px 43px 0 16px;
}

.sim-settings-toggle-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	user-select: none;
}

.sim-settings-toggle-item p {
	margin: 0;
}

.sim-display {
	border-left: 1px solid black;
	border-right: 1px solid black;
	width: 600px;
}

.sim-display-container {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	background-color: black;
	height: 100%;
	max-height: 600px;
}

.sim-grid-display {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	overflow: hidden;
	width: 100%;
	height: 100%;
	max-width: 600px;
	max-height: 600px;
}

.sim-grid-display-row {
	display: flex;
}

.sim-grid-display-cell {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #666;
	font-weight: bold;
	user-select: none;
	box-sizing: border-box;
}

.sim-grid-display-cell.small-font {
	font-size: 10px;
}

.sim-grid-display-cell.hostile {
	background-color: red;
}

.sim-grid-display-cell.visible {
	background-color: yellow;
}

.sim-grid-display-cell.visible-hostile {
	background-color: #ff6932;
}

.sim-frame-controls {
	display: flex;
	position: absolute;
	bottom: 12px;
	left: 50%;
	align-items: center;
	transform: translateX(-50%);
	z-index: 1;
	border-radius: 5px;
	padding: 10px;
	background: rgba(0, 0, 0, 0.5);
	width: 500px;
}

.sim-frame-controls-buttons {
	display: flex;
	gap: 3px;
	margin-right: 10px;
	height: 20px;
	width: 240px;
}

.sim-frame-controls-buttons button {
	cursor: pointer;
	user-select: none;
}

.sim-frame-controls-button-play-icon,
.sim-frame-controls-button-pause-icon,
.sim-frame-controls-button-replay-icon {
	width: 18px;
	height: 18px;
}

.sim-frame-controls-button-play {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sim-frame-controls-button-single-frame {
	width: 24px;
}

.sim-frame-controls-button-max-frame {
	width: 30px;
}

.sim-frame-controls-frame-readout {
	margin-left: 10px;
	width: auto;
	white-space: nowrap;
	color: white;
	text-align: right;
	font-size: 16px;
	user-select: none;
}

.sim-history {
	width: 300px;
}

.sim-history-loading,
.sim-info-loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	user-select: none;
}

.sim-display-loading {
	color: white;
	user-select: none;
}

.sim-history-container {
	position: relative;
	border-bottom: 1px solid black;
	background-color: #f5f5f5;
	height: 340px;
	overflow-y: scroll;
}

.sim-history-item {
	border-bottom: 1px solid black;
	overflow: hidden;
}

.sim-history-item-content {
	position: relative;
	display: flex;
	align-items: center;
}

.sim-history-item-text {
	margin: 8px 0 0 12px;
	width: 160px;
	min-width: 160px;
	overflow-x: hidden;
}

.sim-history-item-name {
	height: 24px;
	user-select: none;
}

.sim-history-item-time {
	height: 24px;
	color: #737373;
	user-select: none;
}

.sim-history-item-edit-name {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 57px;
	height: 100%;
}

.sim-history-item-edit-icon,
.sim-history-item-save-icon,
.sim-history-item-delete-icon,
.sim-history-item-expand-icon,
.sim-history-item-collapse-icon {
	width: 24px;
	height: 24px;
	cursor: pointer;
	user-select: none;
}

.sim-history-item-name-edit-field {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 95%;
	height: 22px;
}

.sim-history-item-delete {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.sim-history-item-expand {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 42px;
	height: 100%;
}

.sim-history-item.active {
	background-color: #dbeafe !important;
}

.sim-history-item.even {
	background-color: white;
}

.sim-history-item.odd {
	background-color: #f5f5f5;
}

.sim-history-item:last-child.remove-border {
	border-bottom: none;
}

.expanded-box {
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
}

.sim-history-item-expanded {
	margin-top: 5px;
	margin-left: 24px;
}

.sim-history-expanded-item {
	margin-bottom: 4px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	user-select: none;
}

.sim-history-expanded-item-value {
	margin-right: 60px;
	text-align: right;
}

.sim-info-container {
	display: flex;
	position: relative;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	background-color: #f5f5f5;
	height: 220px;
	overflow: hidden;
	user-select: none;
}

.sim-info {
	margin: 0px 0px 12px 24px;
}

.sim-info-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 0;
}

.sim-info-item-value {
	margin-right: 43px;
	text-align: right;
}

.react-toggle--checked .react-toggle-track {
	background-color: #2563eb !important;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
	background-color: #2563eb !important;
}

.rc-slider-track {
	background-color: #60a5fa !important;
}

.rc-slider-handle {
	border: solid 2px #96dbfa !important;
}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
	box-shadow: none !important;
}

.rc-slider-handle:focus-visible {
	box-shadow: none !important;
}

.rc-slider-handle:active {
	box-shadow: none !important;
}
