.App {
	text-align: center;
	padding: 20px;
}

.simulation-params {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 300px;
	margin: 0 auto;
	padding-bottom: 12px;
}

input {
	width: 100%;
	padding: 8px;
	margin: 5px 0;
	font-size: 16px;
}

.grid-display {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.grid-container {
	border: 1px solid #333;
}

.grid-row {
	display: flex;
}

.grid-cell {
	width: 20px;
	height: 20px;
	border: 1px solid #666;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.grid-cell.hostile {
	background-color: red;
}

.grid-cell.visible {
	background-color: yellow;
}

.grid-cell.visible-hostile {
	background-color: #ff6932;
}

.frame-buttons {
	margin-top: 10px;
	display: flex;
	align-items: center;
}

.frame-buttons button {
	margin: 0 5px;
	padding: 5px 10px;
}

.canvas-display {
	border: 1px solid #333;
	width: 500px;
	height: 500px;
}
Center the simulator div within the App div .App {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh; /* Assuming you want it to take the full viewport height */
}

/* Style the simulator div */
.simulator {
	width: 1200px;
	height: 900px;
	border: 1px solid black;
	display: flex;
}

/* Style the child divs */
.sim-params,
.simulation-container,
.sim-history {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
}

/* Set the width of the child divs */
.sim-params {
	width: 300px;
}

.simulation-container {
	width: 600px;
}

.sim-history {
	width: 300px;
}

/* Style the headers */
.sim-params-header,
.simulation-container-header,
.sim-history-header {
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
}

/* Style the sim-display */
.sim-display {
	width: 600px;
	height: 600px;
	border: 1px solid black;
}

/* Style the sim-controls */
.sim-controls {
	height: 260px;
	border: 1px solid black;
}
