.App {
	text-align: center;
	padding: 20px;
}

.simulation-params {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 300px;
	margin: 0 auto;
	padding-bottom: 12px;
}

input {
	width: 100%;
	padding: 8px;
	margin: 5px 0;
	font-size: 16px;
}

.grid-display {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.grid-container {
	border: 1px solid #333;
}

.grid-row {
	display: flex;
}

.grid-cell {
	width: 20px;
	height: 20px;
	border: 1px solid #666;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.grid-cell.hostile {
	background-color: red;
}

.grid-cell.visible {
	background-color: yellow;
}

.grid-cell.visible-hostile {
	background-color: #ff6932;
}

.frame-buttons {
	margin-top: 10px;
	display: flex;
	align-items: center;
}

.frame-buttons button {
	margin: 0 5px;
	padding: 5px 10px;
}
